<!DOCTYPE html>
<html>
<head>
	<!-- Latest compiled and minified CSS -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8" />
<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <style>
 a:link{
  text-decoration: none;
  color:none;
 } 

 a{
    color: #7E7E7E;
    text-decoration: none;
    list-style: none;
 }

 .content{
  font-family: monospace;
 }
.logo{
text-decoration: none;

}  

.service{
  padding-left: 200px;
}

footer{
  background-image: linear-gradient(white, #A8A5A4); 
  box-shadow: 0 -5px 5px -4px #333;
}
  
</style>

</head>

<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Logo de merde</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="index.html">Home <span class="sr-only">(current)</span></a></li>
        <li><a href="#">Link</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Liste 
          	<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
      </ul>
      
      <ul class="nav navbar-nav navbar-right">
        <li><a href="login.html">Login</a></li>
        <li><a href="#">Account Setting</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<p>
  To become stronger, better, faster and more competitive athletes, we need to work out and practice. We need to exercise. We need to stretch, sweat and push our way out of our comfort zones to achieve a higher level of skill and performance.

Continue reading the main story
Social Studies
Getting to Know NYTimes.com for the Classroom: A Scavenger Hunt, Webinars and More
MAR 30
Teaching the Vietnam War With Primary Sources From The New York Times
MAR 29
25 Mini-Films for Exploring Race, Bias and Identity With Students
MAR 15
Women on the March: A Lesson Plan on Imagining the Future of Feminism
MAR 8
Middle Schoolers Connect With History Every Day With The Times
FEB 24
See More »

RECENT COMMENTS

Katie February 1, 2017
I believe empathy can shape us, and others into better people. Many people in this world don't share how they feel throughout their life and...
Lauren F January 31, 2017
Empathy is definitely needed in not just this country, but others too. We should at least try and connect with someone even if we don't know...
Miss Ley January 27, 2017
This reader never forgot how Nicholas Kristof described the loss of his childhood friend who now is at peace, and most likely left a scar on...
SEE ALL COMMENTS  WRITE A COMMENT
But what about the muscles needed to be an empathetically fit human being? How do we exercise those? And how do we create opportunities for greater compassion and empathy in our world?

Have you ever gone to visit a person or a place and left feeling refreshed for one reason or another? Maybe it was the beauty of the encounter or, perhaps, the exact opposite of that. Maybe its harshness offered you the chance to think about how people find the strength to persevere. Or maybe you read a story, listened to a song or viewed a documentary that ignited your thinking about the plight of another person, someone different from you. The ideas and questioning that come from life experiences like this can lead to the development of empathy.

Ms. Boylan’s essay addresses empathy from two perspectives. She weaves her experience of losing her hearing with the experience of being hated as a transgender person. She tells a story both about judging and being judged in the absence of empathy — and how being forced to imagine what another is feeling or experiencing can ultimately open our hearts and yield compassion.

Nicholas Kristof writes his column out of frustration. He is upset about what he calls “one of this country’s fundamental problems” — an empathy gap — and he sets out to describe what researchers know about empathy and how to nurture it. This piece picks up where an earlier Op-Ed, “Where’s the Empathy?”, leaves off. In it, Mr. Kristof writes about his friend, Kevin Green, ”a warm and helpful man who floundered in a tough job market, hurt his back and died at the age of 54.” The column was a call for empathy for those who are struggling, but, predictably, scolds complained that Kevin’s problems were of his own making. It makes him ask the question, “So what do we know about empathy and how to nurture it?”

By pairing these two texts, we encourage students to think about what responsibility people have to try to empathize with others different from themselves, and how it may — or may not — help make the world a better place.

_________

Key Questions

• What responsibility do we have to try to empathize with others who are different from us? Is it even possible to truly do so?

• Can empathy make the world a better place? Or, is empathy overrated?

Activity Sheets: As students read and discuss, they might take notes using one or more of the three graphic organizers (PDFs) we have created for our Text to Text feature:

• Comparing Two or More Texts

• Double-Entry Chart for Close Reading

• Document Analysis Questions

_________

Text 1: Excerpt from “Bring Moral Imagination Back in Style,” Jennifer Finney Boylan, The New York Times, July 22, 2016

I came back from the beach one day to find my grandmother and her nearly deaf friend Hilda playing gin and drinking vodka. “She’s Not There,” by the Zombies, was playing on the radio. This was a little strange.

“Why is Hilda listening to WFIL?” I asked.

“Shh,” my grandmother replied. “She thinks it’s classical.”

I’ve told this story lots of times since it happened, back in 1968. It always gets a laugh. But lately it doesn’t seem so funny.

Not long ago I was searing a steak in my apartment when the place filled with smoke and the fire alarm went off. I stood on a chair to try to turn it off. I had to do this about a half-dozen times before the thing stayed off, and each time I climbed up, my ears — already damaged from a lifetime of playing in rock ’n’ roll bands — were less than two feet from the piercing alarm.

When the noise finally stopped, my hearing was “traumatized,” as the otolaryngologist later described it. A high-pitched ringing began that night that has not ceased, a sound somewhere between the howling of wind and a chorus of crickets. I’ve also lost about 60 percent of the upper register of the sound spectrum, and what I do hear resembles the buzzing from a blown-out speaker.

I have been fitted with hearing aids. I am learning to read lips. Why yes, it does suck, thanks for asking.

Now I keep thinking about Hilda, whose handicap struck me more as the stuff of comedy than of compassion.

It wasn’t that I didn’t understand that she suffered, back when she was old and deaf and I was young and not. It’s that whatever she suffered from was something I didn’t need to be concerned with. It didn’t occur to me that imagining the humanity of people other than myself was my responsibility. And yet the root cause of so much grief is our failure to do just that.
When the noise finally stopped, my hearing was “traumatized,” as the otolaryngologist later described it. A high-pitched ringing began that night that has not ceased, a sound somewhere between the howling of wind and a chorus of crickets. I’ve also lost about 60 percent of the upper register of the sound spectrum, and what I do hear resembles the buzzing from a blown-out speaker.

I have been fitted with hearing aids. I am learning to read lips. Why yes, it does suck, thanks for asking.

Now I keep thinking about Hilda, whose handicap struck me more as the stuff of comedy than of compassion.

It wasn’t that I didn’t understand that she suffered, back when she was old and deaf and I was young and not. It’s that whatever she suffered from was something I didn’t need to be concerned with. It didn’t occur to me that imagining the humanity of people other than myself was my responsibility. And yet the root cause of so much grief is our failure to do just that.
When the noise finally stopped, my hearing was “traumatized,” as the otolaryngologist later described it. A high-pitched ringing began that night that has not ceased, a sound somewhere between the howling of wind and a chorus of crickets. I’ve also lost about 60 percent of the upper register of the sound spectrum, and what I do hear resembles the buzzing from a blown-out speaker.

I have been fitted with hearing aids. I am learning to read lips. Why yes, it does suck, thanks for asking.

Now I keep thinking about Hilda, whose handicap struck me more as the stuff of comedy than of compassion.

It wasn’t that I didn’t understand that she suffered, back when she was old and deaf and I was young and not. It’s that whatever she suffered from was something I didn’t need to be concerned with. It didn’t occur to me that imagining the humanity of people other than myself was my responsibility. And yet the root cause of so much grief is our failure to do just that.
When the noise finally stopped, my hearing was “traumatized,” as the otolaryngologist later described it. A high-pitched ringing began that night that has not ceased, a sound somewhere between the howling of wind and a chorus of crickets. I’ve also lost about 60 percent of the upper register of the sound spectrum, and what I do hear resembles the buzzing from a blown-out speaker.

I have been fitted with hearing aids. I am learning to read lips. Why yes, it does suck, thanks for asking.

Now I keep thinking about Hilda, whose handicap struck me more as the stuff of comedy than of compassion.

It wasn’t that I didn’t understand that she suffered, back when she was old and deaf and I was young and not. It’s that whatever she suffered from was something I didn’t need to be concerned with. It didn’t occur to me that imagining the humanity of people other than myself was my responsibility. And yet the root cause of so much grief is our failure to do just that.
  </p>



<footer class="footer">

   <div class="container-fluid">
        <div class="row-fluid">

            <!--First column-->
            <div class="col-md-2" style="width: 10%;">
                <ul class="service">
                  <h5> Service</h5>
                  <li class="content"><a href ="#">link1</li>
                  <li class="content"><a href ="#">link1</li>
                  <li class="content"><a href ="#">link1</li>
                  <li class="content"><a href ="#">link1</li>
                  <li class="content"><a href ="#">link1</li>
                </ul>
              </div>

               <div class="col-md-2" style="width: 10%;">
                <ul class="service">
                  <h5> Service</h5>
                  <li class="content"><a href ="#">link1</li>
                  <li class="content"><a href ="#">link1</li>
                  <li class="content"><a href ="#">link1</li>
                  <li class="content"><a href ="#">link1</li>
                  <li class="content"><a href ="#">link1</li>
                </ul>
              </div>

               <div class="col-md-2" style="width: 10%;">
                <ul class="service">
                  <h5> Service</h5>
                  <li class="content"><a href ="#">link1</li>
                  <li class="content"><a href ="#">link1</li>
                  <li class="content"><a href ="#">link1</li>
                  <li class="content"><a href ="#">link1</li>
                  <li class="content"><a href ="#">link1</li>
                </ul>
              </div>

               <div class="col-md-2" style="width: 10%;">
                <ul class="service">
                  <h5> Service</h5>
                  <li class="content"><a href ="#">link1</li>
                  <li class="content"><a href ="#">link1</li>
                  <li class="content"><a href ="#">link1</li>
                  <li class="content"><a href ="#">link1</li>
                  <li class="content"><a href ="#">link1</li>
                </ul>
              </div>

               <div class="col-md-2" style="width: 10%;">
                <ul class="service">
                  <h5> Service</h5>
                  <li class="content"><a href ="#">link1</li>
                  <li class="content"><a href ="#">link1</li>
                  <li class="content"><a href ="#">link1</li>
                  <li class="content"><a href ="#">link1</li>
                  <li class="content"><a href ="#">link1</li>
                </ul>
              </div>
            <!--/.First column-->

            <!--Second column-->
            <div class="col-md-2"> 
                <ul class="service">
                    <h5> Rejoignez-nous</h5>
                    <li><a href="#"><img src="fb.jpg" class="logo"/>Facebook</a></li>
                    <li><a href="#"><img src="twitter_logo1-copy.jpg" class="logo"/>Twitter</a></li>
                    <li><a href="#"><img src="GitHub-Mark.png" class="logo"/>Github</a></li>  
                </ul>
            </div>
            <!--/.Second column-->
        </div>
    </div>

    <hr>
 <div class="footer-copyright">
        <div class="container-fluid">
           © 2015 Copyright: <a href="#"> Chan.com </a>

        </div>
    </div>
  </footer>
</body>